


* { padding:0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }

h1{font-size: 24px}
h2{font-size: 20px}

  * a{ text-decoration: none;
    color: #000;

  }
  input[type="text"]{
    text-transform: none;
    width:100%;
    text-align:center;
}
input[type="password"]{
    text-transform: none;
    width:100%;
    text-align:center;
}

input::placeholder{
    text-transform: none !important;
}

input[type="number"]{
    width:100%;
    text-align:center;
}

input[type="radio"]{
    text-align:left;
        width: 20px;;
        height: 20px;  
       padding:0;
       
}
input, select{border-radius: 4px; border:1px solid #ccc; height:25px;}
input[type="tel"]{
    width:100%;
    text-align:center;
}

input[type="email"]{
    width:100%;
    text-align:center;
}

input[type="date"]{
    width:100%;
    height:25px;
    background: white;
    text-align:center;
}


  body{color:rgb(37, 37, 37);
    font:100%/1.2 Verdana, Arial, Helvetica, sans-serif;
      margin:0 auto;
    position:relative;
    padding: 0;
  }

  

  #tudo{
      width:100%;
      position:relative;
      margin:0px auto;
    
  }


header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center; 
    padding:5px;
    width:100%;
    padding-top:10px;
    height: 120px;
    z-index: 300 !important;
    background: #fff;  
    box-shadow: 1px 0.5px 10px  rgb(0, 0, 0, 0.2);
}

header nav{margin-left:50px; margin-top:10px;}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav a{
    color:#fff;
    font-weight: bold;
}

header nav a:hover{
    color:rgb(218, 218, 218)
}
header nav ul li{
    border:2px solid transparent;
    background: rgb(1, 0, 53);
    border-radius: 30px;
    padding: 7px;
    margin-right: 10px;
    font-size: 18px;
}

header nav ul li:last-child{margin-right:0;}

header h1 {margin-left:16px; font-size: 20px; padding:10px; font-weight: normal}

header img{width:100px;}
.vermelho{
    color:red;
}

fieldset{
    text-align: center;
    border-width: 0.5px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    }

    fieldset.precisa-margem{
        margin-top: 15px;
    }




article.per ul{
    list-style: circle;
}



article h1{
    padding:8px;
    text-align: center;
    background:#c6c6c6;
    color: black;
    font-size: 20px;
}

.descricao{
    display:none;
    background:#00BCD4;
    text-align: center;
    color:white;
}



button{
    margin-right:20px;
    border: 0px solid #c6c6c6;
    border-radius: 10px;
    width:100%;
    display: block;
    color:white;
    font-weight: bolder;
    background: rgb(1, 0, 53);
    padding:5px;
}
.button{
    text-align: center;
    border: 0px solid #c6c6c6;
    border-radius: 10px;
    width:100%;
    display: block;
    color:white !important;
    font-weight: bolder;
    background:rgb(1, 0, 53);
    padding:5px;
}



.button a{
    color:white;;
}

button:active{background:rgb(134, 133, 134); color:#000}





.botou{

    position: relative;
    width:100%;
    height:auto;
    margin-top:0px;
    font-weight: bold;
    margin-bottom:33px;
    text-align:center;
    display: block;
    color:white;
    background:rgb(255, 113, 113);
    padding:5px;

}

a:hover{text-decoration: none}

select{
    background: white;
    width:100%;
    height:25px;
}

form{
    padding:20px;
}

article{
    
    position:relative;
    top:5px;
    text-align: left;
    font-size:16px;
    
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px;
    width:100%;
    
    background:#f9f9f9;
    
}

article fieldset.fieldsetComBg{
    background: #f0f0f0;
    width: 100%;
    border-top:2px solid #ccc;
    top:-20px;
    text-align: left;
    margin-bottom:-15px;
    font-weight: 400;
    color: black;
    font-size: 26px;
}

#abaixo-do-peso{
    display:none;
}
input.numero{
    
    width:85%;
}

.ficha-de-avaliacao{

    position:relative;
    top:0px;
    margin-bottom:0px;
    padding:10px 3px;
    width:100%;
    
    

}


.ficha-de-avaliacao h2{font-size:30px !important; font-weight: bold;}




.ficha-de-avaliacao-inicio h2, .ficha-de-avaliacao h2{
    
    padding:8px;
    text-align: center;
    background-attachment: scroll;
    color: black;
    font-size: 30px;
}

footer{position: absolute;display: flex;justify-content: center; align-items: center;
    width:100%;
    bottom:-170px;;
    min-height: 150px;
    max-height: auto;   
    background:#fff;
    box-shadow: 1px -2px 10px  rgb(0, 0, 0, 0.2);;
}
footer a{
    color:rgb(59, 59, 59);
}
footer p{
    
    padding: 20px 10px;
    width:100%;
    font-size:14px;
    top:20px;
    text-align:center;
    
}

.pagina-atual{
    border-radius:30px;
    border:2px solid transparent;
    background: #8982d6;
    animation-name: paginaatual;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: 1s;
    border: 3px solid rgb(1, 0, 53);
    transition-duration: 1s;
    animation-direction: alternate;    transition-property: all;

    
    
    
    
}



@keyframes paginaatual {
    from {background: rgb(1, 0, 53)}
    to {background: rgb(1, 0, 53); opacity: 0.6}

    
  }

.pagina-atual:hover{
    opacity: 0.9;


}
.pagina-atual a{
    
    color: rgb(255, 255, 255);

}
.pagina-atual a:hover{color: rgb(255, 255, 255);}




.DATA{
    padding:5px;
}

h2.DATA {
    font-size: 16px;
    border-width:0.5px;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
}

.DATA legend{
    text-align:center;
}

#dadosPaciente{
    margin-top:20px;
    width: 100%;
    margin-bottom:-70px;
    padding-bottom:10px;
    text-align:center;

}
#dadosPaciente fieldset{
    padding:20px 5px;;
    border-width: 0.5px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    font-weight: bold;
}

#dadosPaciente fieldset legend{
    font-weight: normal ;
}
#field-border{

    border-width:0.5px;
    border-top-color:transparent;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;

}



@media print {

    .logo {
        
        background:rgb(248, 246, 246);
        
    }



    .titulo {margin-left:15px;}

    article:nth-child(2){/*HISTÓRIA CLÍNICA*/
        margin-top:420px;
        padding:0;
    }
    article:nth-child(3){/*QUESTONÁRIO DE TEGNER E LYSHOLM*/
        margin-top:600px;
        margin-bottom:500px
        
    }

    article:nth-child(4){/*HÁBITOS/ANTECEDENTES PESSOAIS*/
        margin-bottom:500px
    }
    

    article:nth-child(6){/*EXAME FÍSICO*/
        margin-bottom:200px
    }


    
    #dadosPaciente{
        width: 100%;
        padding:15px 5px 5px 5px;
        margin-bottom:-20px;
        text-align:center;
    
    }
    #dadosPaciente fieldset{
        padding:10px;
        font-weight: bold;
    }
    
    #dadosPaciente fieldset legend{
        font-weight: normal ;

    }
    .ficha-de-avaliacao{

        top:0px;
        margin-top:-35px;
        margin-bottom:-35px;
        padding:10px 3px;
        width:100%;
        
        
    
    }
  


    #DATA{
        margin-bottom:-30px;
        }
        
    .ficha-de-avaliacao h2{
    padding:8px;
    text-align: center;
    background-attachment: scroll;
    color: black;
    font-size: 25px;
}

article{
    z-index:  -1 !important;;
    position:relative;
    margin-bottom:5px;
    padding:5px 5px;
    width:100%;

    background:rgba(236, 236, 236, 0.534);
}



article h2{
    padding:8px;
    margin-bottom:-3px;
    text-align: center;
    background:#eee;
    color: black;
    font-size: 14px !important;
}
    .none{
        display: none !important;
    }
    
#dadosPaciente{
    width: 100%;
    height:0;
margin-top:20px;    text-align:center;

}
#dadosPaciente fieldset{
    border-width:0.5px;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
    padding:0px;
    margin:0;
    font-weight: bold;
}

#dadosPaciente fieldset legend{
    font-weight: normal ;




}


#field-border{

    border-width:0.5px;
    border-top-color:#000;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;

}
input{color: black !important}
input::placeholder{
    color:transparent;
}

#imcresult{
    color: rgb(0, 0, 0);
}

header{border:none;}

input::placeholder{
    color:transparent !important;
}
footer{
    position: relative;
    margin-top:-500px;
    border: none;
}
}

@media screen and (max-width: 425px) {/*para tablets*/
    header h1{display:block}
    header img{width:49%}
    .font-sizeMenor{font-size:12px;}
/*font size para nao bugar o display flex row*/
    input[placeholder]{font-size:12px;}

    article.inicio{width: 100%}
    article p{font-size:13.5px;}
    .titulo{font-size:12px;
    margin-top:-9px;margin-left: -12px}

    .ajeita-botao{width:100%; margin-bottom:10px;}
    .responsive-button{width:100%;}
    .resultado{width:100% !important; font-size: 14px !important;}

    header{flex-direction:column; flex-wrap: wrap; height: auto;}
    header nav{margin-left:0; text-align: center; align-items: center; justify-content: center; display:none}
    header nav a{font-size:14px;}
    nav ul{display:flex; justify-content: center; align-content: center;}
    header nav li.redes a{font-size:40px;}
    .dropdown{display: block !important; width:80%!important}
    .dropdown-menu{width:100%!important}
   }



   
@media screen and (min-width: 700px){/*para tablets*/
    article.inicio{width: 40%}
    input[placeholder]{font-size:13px;}
    .font-sizeMenor{font-size:12px;}
/*font size para nao bugar o display flex row*/

    article{
    
        width:60%;
        margin:0 auto;
        margin-bottom:20px;

        
    }
    

    header nav{display:none}
    .dropdown{display: block !important; width:30%!important}
    .dropdown-menu{width:100%!important}
    .ajeita-botao{width:60%; margin-bottom:10px;}
    .responsive-button{width:60%;}
    .resultado{width:100% !important; font-size:14px!important}
    nav ul{display:flex; justify-content: center; align-content: center;}

    

    

    

    



}

@media screen and (min-width: 1100px){/*para tablets*/
    header nav{display: block}
    input[placeholder]{font-size:14px;}
    .font-sizeMenor{font-size:14.5px;}
    .dropdown{display: none !important}
    article{
        
    
        width:40%;
        margin:0 auto;
        margin-top:20px;
        margin-bottom:20px;

    }
    nav ul{display:flex; justify-content: center; align-content: center;}
    .resultado{width:49% !important;}

    .ajeita-botao{width:40%; margin-bottom:10px;}
    .responsive-button{width:40%;}

    
    



}






    header {display: flex; justify-content: center; flex-direction: center; align-content: center;}

.inicio {display: flex; justify-content: flex-start; align-items: center; flex-direction: column;}
.inicio ul {text-align: left; list-style-type: decimal; padding-left:3.8rem; padding-right: 2rem ;padding-top:20px;}
.inicio li {font-weight: normal; }
article.inicio {min-height: 400px; background:transparent; margin-bottom:20px; margin-top:28px; padding:0px 0 10px;}

article.inicio h2{
width: 100%;
border-radius: 24px;
text-align: center;
font-size: 20px;
padding: 5px;
    background: #eeeeee;
}
    
#botoes {
    margin-top:-20px;display: flex; justify-content: space-around; flex-direction: column; align-items: center;
}

.responsive-button{display: flex; justify-content: space-around; flex-direction: row; }

.atividade {
    margin-top:20px;
    border: 2px solid #797979;
    padding: 10px;
    text-align:justify;
    

}

.paragrafoIPAC{
    padding:15px;
}

.align-left{text-align: left; }
.questoes-ipac{font-size:20px; font-weight: bold; border-top:5px solid rgba(134, 134, 134, 0.233) ;}
.resultado{width:49%; text-align: center; height: 40px !important; font-size:18px; margin: 0 auto; border: 1px solid #dadada; font-weight: 500 !important;}
.flexarticle{display:flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;}
h2.article-title{font-size:24px;  text-align:center;padding:5px; display:block; margin: 0 auto; border-bottom: 0.0007em solid rgb(189, 189, 189); border-width: thin} 

.sessao{
    width:100%;
    background: #7e7e80
}

.sessao h2{font-size:2.7em !important; font-weight: bold; color:white;margin:0 auto;}
article.sessao p{margin:0 auto; width:50%; background:#000}

.inputFalso{width:45%; display:flex; justify-content: center; align-items:center; border-radius:4px; background: white;}
/*classe pra mostrar o titulo do resultado*/
.resultadoFixer{display:flex; justify-content: center; align-items: center;} /*deixa o resultado e o titulo do resultado alinhado*/

textarea{width:100%; height:100px;}

textarea[placeholder]{text-align: center; padding:10px;}


/*imagens do article*/
article img {width:200px;}

.faltaCampo{/*classe para alertar que está faltando um campo para o teste ser realizado*/
    animation-name: mover;
    animation-duration: 0.1s;
    animation-timing-function: 0.5s;
    transition-duration: 0.1s;
    animation-direction: alternate;    transition-property: all;
    border: 1px solid transparent !important;
    animation-iteration-count: 3;
    border-bottom:1px solid transparent !important;
    color:rgb(255, 99, 99) !important;   
    box-shadow: 0px 0px 5px 0px red ;
}

.faltaCampo::placeholder{color:rgb(255, 99, 99); text-transform: none!important}



@keyframes mover {
    25% {margin-right:0px; margin-left:5px;}
    50% {margin-left:0px; margin-right:5px;}
    75% {margin-right:0px; margin-left:5px;}
    100% {margin-left:0px; margin-right:5px;}



    
  }



  /*classe para tornar o resultado verde*/
.resultBom{
    border:1px solid #dadada;
    border-bottom:5px solid rgb(48, 139, 20) !important;
    color: rgb(48, 139, 20) !important;


}


.resultMedio{
    border:1px solid #dadada;
    border-bottom:5px solid rgb(218, 196, 0) !important;
    color: rgb(218, 196, 0) !important;
}

.resultRuim{
    border:1px solid #dadada !important;
    border-bottom:5px solid rgb(245, 42, 42) !important;
    color: rgb(245, 42, 42) !important;
}

.resultGray{/*pra mostrar o campo no load*/
 color: rgb(168, 168, 168) !important;  border-bottom: 5px solid rgb(168, 168, 168) !important; font-size: 16px}


 .aumentarLetraInput{/*classe para aumentar a letra dos inputs*/font-size:18px;}

#fakelogin{width:100%; font-size:16px;
    color:#000; background:#fefefe; top:0; height:100%; display:flex; flex-direction:column; align-items: center; justify-content: center; position: fixed; z-index:200}
#fakelogin input{width:150px;padding:10px; margin:0 auto;}

.loginESenha{}
.fieldsetLogin{border:2px solid #000;}
#wrapLoginESenha{height:auto; margin:0 auto;border:1px solid rgb(197, 197, 197); border-radius:24px; padding:10px 30px 10px 30px;}
#fakelogin h2{font-size:1.6em!important}